<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--<modules> To be used whiel configuring the modules with App.config
    <module assemblyFile="EmployeeRegistration.dll" moduleType="EmployeeRegistration.EmployeeRegistrationModule, EmployeeRegistration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="EmployeeRegistrationModule" startupLoaded="True" />
  </modules>-->
</configuration>